
header {
    display: flex;
    align-items: center;
    height: 16.66667vw;
}

header h1 a {
    font-size: 4.44444vw;
}

header nav {
    position: absolute;
    top: 16.66667vw;
    left: 0;

    width: 100%;
    height: 138.88889vw;

    display: flex;
    align-items: center;
    /* justify-content: center; */
    background: var(--bg-box);
    background: var(--bg);
    box-shadow: 0 0.27778vw 0.27778vw #dddddd44;

    padding: 8.33333vw 5.55556vw;

    transition: .5s;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
}

header nav.active {
    opacity: 1;
    transform: scaleX(1);
}

header nav ul {
    flex-direction: column;
    align-items: flex-start;
}

header nav ul li:not(:first-child) {
    margin-left: 0;
    margin-top: 2.77778vw;
}

header nav ul li a {
    font-size: 5.00000vw;    
}

header nav ul li a.button {
    display: inline-block;

    height: unset;
    width: unset;
    background: unset;
    border-radius: unset;

        
    font-size: 5.00000vw;    
    font-weight: 500;
    color: var(--text);
    transition: .4s;
}

header nav ul li a.button:hover {
    transform: unset;
    box-shadow: unset;
}

#toggle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 8.33333vw;
    height: 8.33333vw;
    overflow: hidden;
    transform: scale(0.6);
}

#toggle .line{
    background: #fff;
    height: 0.55556vw;
    width: 100%;
    transition: transform 0.5s;
}

#toggle.active .one{
    transform: rotateZ(45deg)   translateY(2.77778vw) translateX(2.77778vw);
}

#toggle.active .two{
    position: absolute;
    top: 4.16667vw;
    opacity: 0;
}

#toggle.active .three{
    transform: rotateZ(-45deg)   translateY(-2.77778vw) translateX(2.77778vw);
}

section#banner .content {
    max-width: 100%;
}

section#banner h1 {
    font-size: 8.33333vw;
    color: var(--title);
}

section#banner p {
    width: 90%;
    font-size: 3.88889vw;
    color: var(--text);
    margin: 4.16667vw 0 11.11111vw;

    text-shadow: 0.27778vw 0.27778vw 0 #000;
}

section#banner .buttons a {
    height: 12.50000vw;
    width: 36.11111vw;

    color: var(--bg);
    background: var(--primary);
    border-radius: 8.33333vw;
    font-size: 3.61111vw;
}

section#banner .buttons a:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1.38889vw rgba(255, 204, 0, 1);
}

section#banner .buttons a + a {
    margin-left: 6.94444vw;
    border: 0.27778vw solid var(--primary);
}

section#about .content {
    /* align-items: flex-start; */
    flex-direction: column-reverse;
    justify-content: center;
}

section#about .text {
    padding-right: 0;
    max-width: 100%;
}

section#about .text h1 {
    font-size: 6.94444vw;
}

section#about .text p {
    width: 100%;
    font-size: 4.16667vw;
    line-height: 5.55556vw;
    margin: 2.77778vw 0 11.11111vw;
}

section#about .text a {
    height: 12.50000vw;
    width: 41.66667vw;

    color: var(--bg);
    background: var(--primary);
    border-radius: 8.33333vw;
    font-size: 3.88889vw;
}

section#about .text a:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1.38889vw rgba(255, 204, 0, 1);
}

section#about .image {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 69.44444vw;

    margin-bottom: 4.16667vw;
}

section#about .image img.dev {
    border-radius: 1.38889vw;
    object-position: 100% 25%;
}

section#about img.layer {
    display: none;
}

section#skills .content {
    padding: 13.88889vw 0;
}

section#skills h1 {
    font-size: 6.94444vw;
    text-align: center;
}

section#skills .grid-skills {
    grid-template-columns: repeat(2, 1fr);
    gap: 4.16667vw;

    margin-top: 13.88889vw;
}

section#skills .grid-skills .skill {
    width: 100%;
    min-height: 41.66667vw;

    padding: 2.77778vw 2.77778vw;
    justify-content: center;
}

section#skills .grid-skills .skill:hover {
    border: 0.27778vw solid var(--primary);
    transform: scale(1.03);
    border-radius: 2.77778vw;
}

section#skills .grid-skills .skill img {
    width: 8.33333vw;
    height: 8.33333vw;
    /* object-fit: contain; */
}

section#skills .grid-skills .skill h2 {
    font-size: 2.77778vw;
    margin: 2.77778vw 0 1.38889vw;
}

section#skills .grid-skills .skill p {
    font-size: 2.77778vw;
}

section#projects .content {
    padding: 13.88889vw 0;
}

section#projects > h1 {
    font-size: 6.94444vw;
    margin-bottom: 2.77778vw;
}

section#projects > p {
    font-size: 4.16667vw;
    line-height: 5.55556vw;
    width: 90%;
    max-width: unset;
}

section#projects .grid-projects {
    grid-template-columns: repeat(3, 70vw);
    gap: 5.55556vw;

    place-content: flex-start;

    margin-top: 13.88889vw;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
}

section#projects .grid-projects .project {
    min-height: 116.66667vw;

    padding: 5.55556vw;

    border-radius: 2.77778vw;

    overflow: hidden;
    scroll-snap-align: center;
}

section#projects .grid-projects .project .image {
    height: 55.55556vw;
    border-radius: 2.77778vw;
}

section#projects .grid-projects .project .image img {
    border-radius: 2.77778vw;
}

section#projects .grid-projects .project .text {
    padding: 5.55556vw 0 0;
}

section#projects .grid-projects .project .text h2 {
    font-size: 5.00000vw;
}

section#projects .grid-projects .project .text p {
    font-size: 3.88889vw;
    line-height: 5.00000vw;
    margin: 2.77778vw 0 5.55556vw;
    height: 15.00000vw;
}

section#projects .grid-projects .project .text a {
    height: 11.11111vw;
    width: 36.11111vw;

    color: var(--bg);
    background: var(--primary);
    border-radius: 8.33333vw;
    font-size: 3.61111vw;
}

section#projects .grid-projects .project .text a:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1.38889vw rgba(255, 204, 0, 1);
}

section#projects .grid-projects .project .text a i {
    color: var(--bg);

    font-size: 3.61111vw;
    margin-left: 1.38889vw;
}

section#contact .content {
    padding: 13.88889vw 0;
}

section#contact h1 {
    font-size: 6.94444vw;
    text-align: center;
}

section#contact .wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    margin: 13.88889vw 0;
}

section#contact .wrapper form .block {
    grid-template-columns: 1fr;
}

section#contact .wrapper form .block .col{
    padding: 0;
    margin: 0 0 8.33333vw;
}

section#contact .wrapper form .block .inputBox{
    height: 13.88889vw;
    border-radius: 1.38889vw;
}

section#contact .wrapper form .block .inputBox input,
section#contact .wrapper form .block .inputBox.textarea textarea
{
    font-size: 3.88889vw;
    letter-spacing: 0.13889vw;
    padding: 0 5.55556vw;
}

section#contact .wrapper form .block .inputBox .text{
    line-height: 13.88889vw;
    font-size: 4.16667vw;
    padding: 0 5.55556vw;
}

section#contact .wrapper form .block .inputBox input:focus + .text, section#contact .wrapper form .block .inputBox input:valid + .text{
    top: -9.44444vw;
    left: -4.16667vw;
    font-size: 3.61111vw;
}

section#contact .wrapper form .block .inputBox .line {
    height: 0.55556vw;
    border-radius: 0.55556vw;
    pointer-events: none;
}

section#contact .wrapper form .block .inputBox .line::before {
    height: 0.55556vw;
}

section#contact .wrapper form .block .inputBox.textarea{
    height: 27.77778vw;
    padding: 2.77778vw 0;
}

section#contact .wrapper form .block .inputBox textarea:focus + .text, section#contact .wrapper form .block .inputBox textarea:valid + .text{
    top: -9.44444vw;
    left: -4.16667vw;
    font-size: 3.61111vw;
}

section#contact .wrapper form .block input[type="submit"]{
    height: 12.50000vw;
    width: 41.66667vw;

    color: var(--bg);
    background: var(--primary);
    border-radius: 8.33333vw;
    font-size: 3.88889vw;

    margin: 0 auto;
}

section#contact .wrapper form .block input[type="submit"]:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1.38889vw rgba(255, 204, 0, 1);
}

section#contact .wrapper .info {
    /* background: red; */
    padding: 0;

    grid-template-columns: repeat(4, 16.66667vw);
    gap: 5.55556vw;

    place-content: space-between;
    margin-bottom: 13.88889vw;
}

section#contact .wrapper .info .item {
    height: 16.66667vw;

    border-radius: 2.77778vw;

    font-size: 5.55556vw;
}

section#contact .wrapper .info .item:hover {
    transform: scale(1.05);
    font-size: 6.11111vw;
}

footer .content {
    padding: 5.55556vw 0;
    text-align: center;

    font-size: 2.77778vw;
}